<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>element_explode_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,64},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{46,38}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>element_explode_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,104},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{36,34}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>element_explode_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{28,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{28,28}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>element_explode_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{62,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{62,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>element_explode_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>element_explode_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{50,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>element_explode.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0014f233bd22149bdbd1ba9638f39f3:1/1$</string>
            <key>textureFileName</key>
            <string>element_explode.png</string>
        </dict>
    </dict>
</plist>
