android_fx/SharePlatform/bin
android_fx/SharePlatform/gen
android_fx/SharePlatform/obj

android_fx/SharePlatformInvite/bin
android_fx/SharePlatformInvite/gen
android_fx/SharePlatformInvite/obj

android_fx/SharePlatformPublicAccount/bin
android_fx/SharePlatformPublicAccount/gen
android_fx/SharePlatformPublicAccount/obj

android_fx/SharePlatformShareBeside/bin
android_fx/SharePlatformShareBeside/gen
android_fx/SharePlatformShareBeside/obj

android_fx/SharePlatformUserinfo/bin
android_fx/SharePlatformUserinfo/gen
android_fx/SharePlatformUserinfo/obj

facebook/bin
facebook/gen
facebook/obj

google-play-services_lib/bin
google-play-services_lib/gen
google-play-services_lib/obj

huawei