<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,236},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,236},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,197},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,197},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,158},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,158},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,119},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,119},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,80},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,80},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,41},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,41},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
            <key>line_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,77}}</string>
                <key>sourceSize</key>
                <string>{37,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>line_effect.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8f373fd3d640f65df68d27e02f6249c$</string>
            <key>textureFileName</key>
            <string>line_effect.png</string>
        </dict>
    </dict>
</plist>
